contourpy==1.2.1
cycler==0.12.1
et_xmlfile==2.0.0
fonttools==4.55.3
jieba
joblib==1.4.2
kiwisolver==1.4.8
matplotlib
numpy==1.26.0
openpyxl==3.1.5
packaging==24.2
pandas
pillow==11.1.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2024.2
scikit-learn
scipy==1.15.0
seaborn
six==1.17.0
threadpoolctl==3.5.0
tqdm
tzdata==2024.2
addict
einops
oss2
simplejson>=3.3.0
sortedcontainers>=1.5.9
yapf
